includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  level: 5
  paths:
    - ../../
  excludePaths:
    - ../../vendor/
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Cannot assign offset "merchant…" to string\|true.#'